{% extends 'app_forgotten_pw/base.html' %}

{% block title %}Password Reset Done{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3>Password reset complete</h3>

            <p>Your password has been set. You may go ahead and log in now.</p>

            <a href="{% url 'Login' %}">Log in</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}{% endblock script %}
