{% extends 'app_forgotten_pw/base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3>Password reset</h3>

            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

            <form method="post">

                {% csrf_token %}
                {{ form }}
                <input type="Submit" name="Send email">

            </form>

        </div>
    </div>
</div>
{% endblock content %}

{% block script %}{% endblock script %}
